.header {
  margin-bottom: 20px;
}

.user {
  margin-bottom: 10px;
}

.avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.text-title {
  margin-bottom: 20px;
}

.search {
  padding: 7px 10px;
  font-size: 18px;
  background-color: rgb(243, 223, 238);
  margin-bottom: 15px;
}

.comments {
  padding: 2px 5px;
  background-color: beige;
}

a {
  text-decoration: none;
  margin-right: 10px;
  font-size: 22px;
  color:black;
  margin-bottom: 30px;
}

a:hover {
  color: coral;
}

.post { 
  margin-bottom: 15px;
}

.title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}


.about-title {
  margin: 20px;
  text-align: center;
}

.about-text {
  font-size: 18px;
  text-align: justify
}

.btn {
  display: inline-block;
  padding: 7px 10px;
  background-color: beige;
  border-radius: 10px;
  margin-top: 50px;
  border: 1px solid #666;
}

